<!DOCTYPE html>
<html>
<head>
<title>Journal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
        {% block title %}
        {% endblock %}
</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./static/css/main.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}
.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
  {% if current_user.is_authenticated %}
    <a class="w3-bar-item w3-button" href="{{url_for('auth.landingpage')}}">Online Journal</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a class="w3-bar-item w3-button" href="{{url_for('main.lyrics')}}"></i>Lyrics</a>
      <a class="w3-bar-item w3-button" href="{{url_for('main.gratitude')}}"></i>Gratitude</a>
      <a class="w3-bar-item w3-button" href="{{url_for('main.prompts')}}"></i>Prompts</a>
      <a class="w3-bar-item w3-button" href="{{url_for('auth.logout')}}"></i>Logout</a>
    </div>
    {% else %}
    <div class="w3-right w3-hide-small">
      <a class="w3-bar-item w3-button" href="{{url_for('auth.register')}}"></i>Register</a>
      <a class="w3-bar-item w3-button" href="{{url_for('auth.login')}}"></i> Login</a>
      {# <a class="w3-bar-item w3-button" href="{{url_for(''main.lyrics')}}"></i>Lyrics</a>
      <a class="w3-bar-item w3-button" href="{{url_for('main.gratitude')}}"></i>Gratitude</a>
      <a class="w3-bar-item w3-button" href="{{url_for('main.prompts')}}"></i>Prompts</a> #}
    </div>
    {% endif %}
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    {# <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a> #}
  </div>
</div>
{% block content %}




{% endblock %}

</div class=footer>
<!-- Footer -->
<footer class="w3-bottom w3-black w3-padding-64" position="fixed" bottom="0">
  {# <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a> #}

</footer>
</div>
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>